<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../css/stype.css"/>
</head>
<body>
<div class="news3 social">
    <h2>
        <span><img src="../images/c.gif" alt=""/></span>
        News
        <i><img src="../images/s.gif" alt=""/></i>
    </h2>
    <div class="news3-nav">
        <span>ALL</span>
        <span>WORLD</span>
        <span>TOPICS</span>
        <span>FAVORITES</span>
    </div>
    <div class="news3-div">
        <div class="news3-l">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="../images/news3_4.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-r">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p">
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="../images/news3_8.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
    </div>
    <div class="news3-div">
        <div class="news3-r">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p">
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="../images/news3_5.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-l">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="../images/news3_9.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>

    </div>
    <div class="news3-div">
        <div class="news3-l">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="../images/news3_6.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-r">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p">
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="../images/news3_7.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
    </div>
</div>

</body>
</html>